snippet then "add a casper.then block" b 
	casper.then (function () {

	});
endsnippet

snippet xwsel "waitForSelector" b
		var $1 = xPathSel('$2');
		this.waitForSelector($1,function() {

		});

endsnippet
